*{
  color: #ddd;
  font-family: monospace;
}
.pageTitle,.projName,.description,footer,li,a{
  text-align: center;
}
ul {
  list-style-type: none;
}
.page-container{
  position: relative;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
}
.page-container video{
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1;
  opacity: 0.5;
}

/*rules for mobiles and tablets*/
@media only screen and (max-width: 768px) {
  p,li,a{
    text-align: left;
  }
  footer{
    text-align: center;
  }
}