body{
    background-color: black;
  }
*{
  color: #ddd;
}
#warning{
  font-style: italic;
}
h1,h2,footer,p,li,a{
  text-align: center;
  font-family:monospace;
}
ul {
  list-style-type: none;
}
.page-container{
  position: relative;
  height: 100vh; 
  width: 100vw;
  overflow: hidden;
}
.page-container video{
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%; 
  z-index: -1;
  opacity: 0.5;
}

/*rules for mobiles and tablets*/
@media only screen and (max-width: 768px) {
  p{
    text-align: left;
  }
  ul{
    list-style-type: none;
    text-align: left;
  }
  .copyright{
    text-align: center;
  }
}